{% extends 'persons/base.html' %}
{% load static %}

{% block content %}
<a class="btn btn-light" href="{% url 'personsapp:create_view' %}">Создать</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Телефон</th>
        <th scope="col">Обучение с</th>
        <th scope="col">Обучение по</th>
        <th scope="col">Группа</th>
        <th scope="col">Учебное заведение</th>
        <th scope="col">Паспорт</th>
        <th scope="col">Возраст</th>
    </tr>
    </thead>
    <tbody>
    {% for person in object_list %}
    <tr>
        <th scope="row">
            <a href="{% url 'personsapp:detail_view' pk=person.pk %}">
                {{person.last_name}} {{person.first_name}} {{person.patr_name}}
            </a>
        </th>
        <td>{{person.birth_date}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.start_education}}</td>
        <td>{{person.finish_education}}</td>
        <td>{{person.education_group}}</td>
        <td>{{person.education_place}}</td>
        <td>
            {% for doc in person.documents.all %}
                {% if doc.document_type == 'PASS' %}
                    {{doc.number}}
                {% endif %}
            {% endfor %}
        </td>
        <td>{{person.age}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{{pagination_url}}?page={{page_obj.previous_page_number}}">
                Previous
            </a>
        </li>
        {% endif %}

        <li class="page-item">
            <span class="page-link">
                {{ page_obj.number }}/{{page_obj.paginator.num_pages}}
            </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="
               {{pagination_url}}?page={{page_obj.next_page_number}}">Next
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
