{% extends 'persons/base.html' %}
{% load static %}

{% block content %}

<a class="btn btn-primary" href="{% url 'personsapp:create_view' %}">Создать</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Телефон</th>
        <th scope="col">Обучение с</th>
        <th scope="col">Обучение по</th>
        <th scope="col">Группа</th>
        <th scope="col">Учебное заведение</th>
        <th scope="col">Паспорт</th>
    </tr>
    </thead>
    <tbody>
    {% for person in object_list %}
    <tr>
        <th scope="row">{{person.last_name}} {{person.first_name}} {{person.patr_name}}</th>
        <td>{{person.birth_date}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.start_education}}</td>
        <td>{{person.finish_education}}</td>
        <td>{{person.education_group}}</td>
        <td>{{person.education_place}}</td>
        <td>{{person.documents}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
