{% extends 'persons/base.html' %}
{% load static %}

{% block content %}
<a class="btn btn-light" href="{% url 'personsapp:list_view' %}">К списку</a>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for err in form.not_field_errors %}
        <span>
            {{ err }}
        </span>
    {% endfor %}
    {{form.as_p}}
    <table class="table">
        {{ formset.management_form }}
        {% for form in formset.forms %}
        {% if forloop.first %}
        <thead>
        <tr>
            {% for field in form.visible_fields %}
            <th>
                {{ field.label|capfirst }}
            </th>
            {% endfor %}
        </tr>
        </thead>
        {% endif %}
        <tr>
            {% for field in form.visible_fields %}
            <td>
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endif %}
                {{ field.errors.as_ul }}
                {{ field }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div class="input-group">
        <input name="logup" type="submit" value="Обновить">
    </div>
</form>

{% endblock %}